In [124]:
import pandas as pd 
import numpy as np
import scipy.stats
from scipy.stats import bartlett
from scipy.stats import normaltest
from scipy.stats import f_oneway
#from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [125]:
#Se lee el dataset que usaremos
ruta = "C:/Users/becar/OneDrive/Escritorio/Mineria de Datos/BECC1927439-MineriaDeDatos/mls_salaries_masterlist.csv"
data = pd.read_csv(ruta)



df = pd.DataFrame(data) 
df

,club,last_name,first_name,position,base_salary,guaranteed_compensation,year,conference
0,Vancouver Whitecaps,Abdallah,Aminu,M,46500.0,46500.00,2013,Western
1,FC Dallas,Acosta,Kellyn,M,46500.0,70500.00,2013,Western
2,Vancouver Whitecaps,Adekugbe,Samuel,D,46500.0,51500.00,2013,Western
3,Toronto FC,Agbossoumonde,Gale,D,46500.0,53166.67,2013,Eastern
4,New England Revolution,Agudelo,Juan,F,145000.0,175000.00,2013,Eastern
...,...,...,...,...,...,...,...,...
10368,Vancouver Whitecaps,Scoaupssa e Silva,Caio Alexand,M,500000.0,562500.00,2022,Western
10369,Vancouver Whitecaps,Tceaibpesrt,Russell,M,400000.0,449375.00,2022,Western
10370,Vancouver Whitecaps,Vceaspeslinovic,Ranko,D,405000.0,490500.00,2022,Western
10371,Vancouver Whitecaps,Vcitaeps,Pedro,M,556000.0,609997.00,2022,Western
10372,Vancouver Whitecaps,Wcahpites,Brian,F,456000.0,456000.00,2022,Western

In [126]:
#Se eliminan los datos NA
df.isna().sum()
df.shape
df = df.dropna()
df.shape

(9382, 8)

In [127]:
#Prueba de normalidad 1
S,p = normaltest(df['base_salary'])
alfa = 0.05
print('p = {:g}'.format(p))

if p<alfa:
    print('No hay normalidad')
else:
    print('Hay normalidad')

p = 0
No hay normalidad

In [128]:
#Prueba de normalidad 2
S,p = normaltest(df['guaranteed_compensation'])
alfa = 0.05
print('p = {:g}'.format(p))

if p<alfa:
    print('No hay normalidad')
else:
    print('Hay normalidad')

p = 0
No hay normalidad

In [129]:
#Prueba de homocedasticidad
alfa = 0.05
Stat,p = bartlett(df['base_salary'], df['guaranteed_compensation'])
print('p = {:g}'.format(p))

if p<alfa:
    print('No hay normalidad')
else:
    print('Hay normalidad')

p = 1.30815e-35
No hay normalidad

In [131]:
#ANDEVA

#Ho: todas las medias son iguales 
#Ha: al menos una de las medias es diferente

#Criterio: Fc<F entonces Ho es verdadero
# y si Fc>= F entonces Ho no es verdadero 

Fc , p = f_oneway(df['base_salary'].values, df['guaranteed_compensation'].values)

#Grados de libertad: k=numero de factores, N= 20746
# numerDOR = k-1<- (2-1) y el denom = N-k <-- (20746-2)
de = 20746-2
nu = 2-1
import scipy.stats

F = scipy.stats.f.ppf(q=1-0.05, dfn=nu, dfd=de)

if Fc < F:
    print('Fc = {:g}'.format(Fc), '<', 'F = {:g}'.format(F), 'p = {:g}'.format(p))
    print('No hay evidencia para rechazar Ho, por lo que se supone que no hay diferencia entre medias')
else:
    print('Fc = {:g}'.format(Fc), '>=', 'F = {:g}'.format(F), 'p = {:g}'.format(p))
    print('Hay evidencia para rechazar Ho, por lo que podemos suponer que al menos una de las medias es diferente')

Fc = 13.1001 >= F = 3.84191 p = 0.000296049
Hay evidencia para rechazar Ho, por lo que podemos suponer que al menos una de las medias es diferente