In [1]:
import numpy as np
import pandas as pd

In [15]:
#Se lee el dataset que usaremos
ruta = "C:/Users/becar/OneDrive/Escritorio/Mineria de Datos/BECC1927439-MineriaDeDatos/mls_salaries_masterlist.csv"
data = pd.read_csv(ruta)

df = pd.DataFrame(data)
df

,club,last_name,first_name,position,base_salary,guaranteed_compensation,year,conference
0,Vancouver Whitecaps,Abdallah,Aminu,M,46500.0,46500.00,2013,Western
1,FC Dallas,Acosta,Kellyn,M,46500.0,70500.00,2013,Western
2,Vancouver Whitecaps,Adekugbe,Samuel,D,46500.0,51500.00,2013,Western
3,Toronto FC,Agbossoumonde,Gale,D,46500.0,53166.67,2013,Eastern
4,New England Revolution,Agudelo,Juan,F,145000.0,175000.00,2013,Eastern
...,...,...,...,...,...,...,...,...
10368,Vancouver Whitecaps,Scoaupssa e Silva,Caio Alexand,M,500000.0,562500.00,2022,Western
10369,Vancouver Whitecaps,Tceaibpesrt,Russell,M,400000.0,449375.00,2022,Western
10370,Vancouver Whitecaps,Vceaspeslinovic,Ranko,D,405000.0,490500.00,2022,Western
10371,Vancouver Whitecaps,Vcitaeps,Pedro,M,556000.0,609997.00,2022,Western
10372,Vancouver Whitecaps,Wcahpites,Brian,F,456000.0,456000.00,2022,Western

Valor minimo de la variable

In [21]:
df.agg({'base_salary':['min'], 'guaranteed_compensation':['min'], 'year':['min']})

     base_salary  guaranteed_compensation  year
min      12900.0                  12900.0  2007

Valor maximo de la variable

In [22]:
df.agg({'base_salary':['max'], 'guaranteed_compensation':['max'], 'year':['max']})

     base_salary  guaranteed_compensation  year
max   14000000.0               14000000.0  2023

Numero de registros de la variable

In [24]:
df.agg({'base_salary':['count'], 'guaranteed_compensation':['count'], 'year':['count']})

       base_salary  guaranteed_compensation   year
count        10292                    10372  10373

Se calcula la suma de una variable

In [25]:
df.agg({'base_salary':['sum'], 'guaranteed_compensation':['sum'], 'year':['sum']})

      base_salary  guaranteed_compensation      year
sum  2.947631e+09             3.321102e+09  20914932

Media de la variable

In [26]:
df.agg({'base_salary':['mean'], 'guaranteed_compensation':['mean'], 'year':['mean']})

        base_salary  guaranteed_compensation         year
mean  286400.169539            320198.817666  2016.285742

Se calcula la varianza

In [27]:
df.agg({'base_salary':['var'], 'guaranteed_compensation':['var'], 'year':['var']})

      base_salary  guaranteed_compensation       year
var  3.594766e+11             4.613642e+11  22.961537

Se mide que tan alejados estan los valores individuales de la media del conjunto de datos

In [28]:
df.agg({'base_salary':['std'], 'guaranteed_compensation':['std'], 'year':['std']})

       base_salary  guaranteed_compensation     year
std  599563.659881            679237.930647  4.79182

Se calcula cual es el valor mas frecuente

In [34]:
df.agg({'base_salary':['mode'], 'guaranteed_compensation':['mode'], 'year':['mode']})

  base_salary guaranteed_compensation  year
         mode                    mode  mode
0     81375.0                 81375.0  2022