In [4]:
#Importamos las librerias que necesitaremos
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Se lee el dataset que usaremos
ruta = "C:/Users/becar/OneDrive/Escritorio/Mineria de Datos/BECC1927439-MineriaDeDatos/mls_salaries_masterlist.csv"
data = pd.read_csv(ruta)

In [6]:
#Miramos las caracteristicas generales de nuestro dataset
print(data.shape)
data.head()

(10373, 8)

,club,last_name,first_name,position,base_salary,guaranteed_compensation,year,conference
0,Vancouver Whitecaps,Abdallah,Aminu,M,46500.0,46500.00,2013,Western
1,FC Dallas,Acosta,Kellyn,M,46500.0,70500.00,2013,Western
2,Vancouver Whitecaps,Adekugbe,Samuel,D,46500.0,51500.00,2013,Western
3,Toronto FC,Agbossoumonde,Gale,D,46500.0,53166.67,2013,Eastern
4,New England Revolution,Agudelo,Juan,F,145000.0,175000.00,2013,Eastern

In [7]:
#Vemos las variables y categorias 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10373 entries, 0 to 10372
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club                     10344 non-null  object
 1   last_name                10309 non-null  object
 2   first_name               10345 non-null  object
 3   position                 10372 non-null  object
 4   base_salary              10292 non-null  float64
 5   guaranteed_compensation  10372 non-null  float64
 6   year                     10373 non-null  int64
 7   conference               9503 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 648.4+ KB

In [8]:
#Se eliminan las celdas con datos NULL
data.dropna(inplace=True)
data.info

<bound method DataFrame.info of                          club          last_name    first_name position
0         Vancouver Whitecaps           Abdallah         Aminu        M  \
1                   FC Dallas             Acosta        Kellyn        M
2         Vancouver Whitecaps           Adekugbe        Samuel        D
3                  Toronto FC      Agbossoumonde          Gale        D
4      New England Revolution            Agudelo          Juan        F
...                       ...                ...           ...      ...
10368     Vancouver Whitecaps  Scoaupssa e Silva  Caio Alexand        M
10369     Vancouver Whitecaps        Tceaibpesrt       Russell        M
10370     Vancouver Whitecaps    Vceaspeslinovic         Ranko        D
10371     Vancouver Whitecaps           Vcitaeps         Pedro        M
10372     Vancouver Whitecaps          Wcahpites         Brian        F

       base_salary  guaranteed_compensation  year conference
0          46500.0                 46500.00  2013    Western
1          46500.0                 70500.00  2013    Western
2          46500.0                 51500.00  2013    Western
3          46500.0                 53166.67  2013    Eastern
4         145000.0                175000.00  2013    Eastern
...            ...                      ...   ...        ...
10368     500000.0                562500.00  2022    Western
10369     400000.0                449375.00  2022    Western
10370     405000.0                490500.00  2022    Western
10371     556000.0                609997.00  2022    Western
10372     456000.0                456000.00  2022    Western

[9382 rows x 8 columns]>

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9382 entries, 0 to 10372
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club                     9382 non-null   object
 1   last_name                9382 non-null   object
 2   first_name               9382 non-null   object
 3   position                 9382 non-null   object
 4   base_salary              9382 non-null   float64
 5   guaranteed_compensation  9382 non-null   float64
 6   year                     9382 non-null   int64
 7   conference               9382 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 659.7+ KB

In [10]:
#Conteo de los subniveles por columnas
cols_cat = ['club','last_name','first_name','position','base_salary','guaranteed_compensation', 'year', 'conference']

for col in cols_cat: 
    print(f'Columna {col}: {data[col].nunique()} subniveles')

Columna club: 30 subniveles
Columna last_name: 2813 subniveles
Columna first_name: 1424 subniveles
Columna position: 4 subniveles
Columna base_salary: 1539 subniveles
Columna guaranteed_compensation: 4502 subniveles
Columna year: 17 subniveles
Columna conference: 2 subniveles

In [11]:
#Eliminamos las filas repetidas
print(f'Tamaño antes de eliminar las filas repetidas: {data.shape}')
data.drop_duplicates(inplace=True)
print(f'Tamaño despues de eliminar las filas repetidas: {data.shape}')

Tamaño antes de eliminar las filas repetidas: (9382, 8)
Tamaño despues de eliminar las filas repetidas: (9382, 8)

In [13]:
data[data['base_salary'] >= 4500000]

,club,last_name,first_name,position,base_salary,guaranteed_compensation,year,conference
135,Seattle Sounders FC,Dempsey,Clint,F,4913004.00,5038566.50,2013,Western
806,LA Galaxy,Beckham,David,M,5500000.08,6500000.04,2007,Western
1529,LA Galaxy,Beckham,David,M,5500000.08,6500000.04,2010,Western
1950,LA Galaxy,Beckham,David,M,5500000.08,6500000.04,2011,Western
2454,Toronto FC,Altidore,Jozy,F,4750000.00,4750000.00,2015,Eastern
2504,Toronto FC,Bradley,Michael,M,6000000.00,6500000.00,2015,Eastern
2627,LA Galaxy,Gerrard,Steven,M,6200004.00,6332504.00,2015,Western
2629,Toronto FC,Giovinco,Sebastian,M,5600000.00,7115555.67,2015,Eastern
2700,LA Galaxy,Keane,Robbie,F,4500000.00,4500000.00,2015,Western
2722,New York City FC,Lampard,Frank,M,6000000.00,6000000.00,2015,Eastern
2973,New York City FC,Villa,David,F,5610000.00,5610000.00,2015,Eastern
3082,Toronto FC,Bradley,Michael,M,6000000.00,6500000.00,2014,Eastern
3137,Toronto FC,Defoe,Jermain,F,6000000.00,6180000.00,2014,Eastern
3141,Seattle Sounders FC,Dempsey,Clint,F,4913004.00,6695188.75,2014,Western
3281,LA Galaxy,Keane,Robbie,F,4500000.00,4500000.00,2014,Western
3781,LA Galaxy,Gerrard,Steven,M,6000000.00,6132500.00,2016,Western
3867,New York City FC,Lampard,Frank,M,6000000.00,6000000.00,2016,Eastern
3875,New York City FC,Pirlo,Andrea,M,5600000.00,5915690.00,2016,Eastern
3881,New York City FC,Villa,David,F,5610000.00,5610000.00,2016,Eastern
4078,Toronto FC,Altidore,Jozy,F,4825000.00,4825000.00,2016,Eastern
4083,Toronto FC,Bradley,Michael,M,6000000.00,6500000.00,2016,Eastern
4088,Toronto FC,Giovinco,Sebastian,F,5600000.00,7115555.67,2016,Eastern
4193,Chicago Fire,Schweinsteiger,Bastian,M,5400000.00,5400000.00,2017,Eastern
4487,New York City FC,Pirlo,Andrea,M,5600000.00,5915690.00,2017,Eastern
4493,New York City FC,Villa,David,F,5610000.00,5610000.00,2017,Eastern
4694,Toronto FC,Altidore,Jozy,F,4875000.00,4875000.00,2017,Eastern
4698,Toronto FC,Bradley,Michael,M,6000000.00,6500000.00,2017,Eastern
4706,Toronto FC,Giovinco,Sebastian,F,5600000.00,7115555.67,2017,Eastern
4778,Toronto FC,Altidore,Jozy,F,4891250.04,6332250.04,2019,Eastern
4852,Toronto FC,Bradley,Michael,M,6000000.00,6500000.00,2019,Eastern
5057,LA Galaxy,Ibrahimovic,Zlatan,F,7200000.00,7200000.00,2019,Western
5430,Los Angeles FC,Vela,Carlos,F,4500000.00,6300000.00,2019,Western
5497,Toronto FC,Altidore,Jozy,F,5000000.00,5000000.00,2018,Eastern
5562,Toronto FC,Bradley,Michael,M,6000000.00,6500000.00,2018,Eastern
5713,Toronto FC,Giovinco,Sebastian,F,5600000.00,7115555.67,2018,Eastern
6047,Chicago Fire,Schweinsteiger,Bastian,M,6100000.08,6100000.08,2018,Eastern
6120,Los Angeles FC,Vela,Carlos,F,4500000.00,6292500.00,2018,Western
6122,New York City FC,Villa,David,F,5610000.00,5610000.00,2018,Eastern
6183,LA Galaxy,Beckham,David,M,5500000.08,6500000.04,2008,Western
6874,LA Galaxy,Hernandez,Javier,F,6000000.00,6000000.00,2020,Western
7296,Los Angeles FC,Vela,Carlos,F,4500000.00,6300000.00,2020,Western
7651,Inter Miami,Higuain,Gonzalo,F,5100000.00,5793750.00,2021,Eastern
7686,LA Galaxy,Hernandez,Javier,F,6000000.00,6000000.00,2021,Western
7735,Los Angeles FC,Vela,Carlos,F,4500000.00,6300000.00,2021,Western
8243,LA Galaxy,Beckham,David,M,5500000.08,6500000.04,2009,Western
8738,Chicago Fire,Shaqiri,Xherdan,M,7350000.00,8153000.00,2023,Eastern
8902,Houston Dynamo,Herrera,Héctor,M,4750000.00,5246875.00,2023,Western
8960,LA Galaxy,Hernández Balcázar,Javier,F,6000000.00,7443750.00,2023,Western
9439,Toronto FC,Insigne,Lorenzo,F,7500000.00,7500000.00,2023,Eastern
9638,Chicago Fire,Shaqiri,Xherdan,M,7350000.00,8153000.00,2022,Eastern
9814,Houston Dynamo,Herrera,Hector,M,4750000.00,5246875.00,2022,Western
9845,Inter Miami,Higuain,Gonzalo Gera,F,5100000.00,5793750.00,2022,Eastern
9885,LA Galaxy,Hernandez,Javier,F,6000000.00,7443750.00,2022,Western
10319,Toronto FC,Insigne,Lorenzo,F,14000000.00,14000000.00,2022,Eastern