In [5]:
#Importamos las librerias que necesitaremos
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
#Se lee el dataset que usaremos
ruta = "C:/Users/becar/OneDrive/Escritorio/Mineria de Datos/BECC1927439-MineriaDeDatos/spotify-charts-daily-2020-10-07.csv"
data = pd.read_csv(ruta)

In [7]:
#Miramos las caracteristicas generales de nuestro dataset
print(data.shape)
data.head()

(201000, 6)

,Position,Track,Artist,Streams,URL,Date
0,1,rockstar,Post Malone,3962314,https://open.spotify.com/track/7wGoVu4Dady5GV0...,2018-01-01
1,2,Havana,Camila Cabello,3314677,https://open.spotify.com/track/0ofbQMrRDsUaVKq...,2018-01-01
2,3,New Rules,Dua Lipa,2940488,https://open.spotify.com/track/2ekn2ttSfGqwhha...,2018-01-01
3,4,Wolves,Selena Gomez,2509878,https://open.spotify.com/track/7EmGUiUaOSGDnUU...,2018-01-01
4,5,Shape of You,Ed Sheeran,2439876,https://open.spotify.com/track/7qiZfU4dY1lWllz...,2018-01-01

In [8]:
#Vemos las variables y categorias 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201000 entries, 0 to 200999
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Position  201000 non-null  int64
 1   Track     201000 non-null  object
 2   Artist    201000 non-null  object
 3   Streams   201000 non-null  int64
 4   URL       201000 non-null  object
 5   Date      201000 non-null  object
dtypes: int64(2), object(4)
memory usage: 9.2+ MB

In [9]:
#Se eliminan las celdas con datos NULL
data.dropna(inplace=True)
data.info

<bound method DataFrame.info of         Position                   Track          Artist  Streams
0              1                rockstar     Post Malone  3962314  \
1              2                  Havana  Camila Cabello  3314677
2              3               New Rules        Dua Lipa  2940488
3              4                  Wolves    Selena Gomez  2509878
4              5            Shape of You      Ed Sheeran  2439876
...          ...                     ...             ...      ...
200995       196             Money Trees  Kendrick Lamar   680809
200996       197            Tak Tiki Tak      Harry Nach   679525
200997       198                    July      Noah Cyrus   667052
200998       199                 Bruises   Lewis Capaldi   666575
200999       200  exile (feat. Bon Iver)    Taylor Swift   665377

                                                      URL        Date
0       https://open.spotify.com/track/7wGoVu4Dady5GV0...  2018-01-01
1       https://open.spotify.com/track/0ofbQMrRDsUaVKq...  2018-01-01
2       https://open.spotify.com/track/2ekn2ttSfGqwhha...  2018-01-01
3       https://open.spotify.com/track/7EmGUiUaOSGDnUU...  2018-01-01
4       https://open.spotify.com/track/7qiZfU4dY1lWllz...  2018-01-01
...                                                   ...         ...
200995  https://open.spotify.com/track/2HbKqm4o0w5wEeE...  2020-10-01
200996  https://open.spotify.com/track/7gwwt1IaAWwmB7a...  2020-10-01
200997  https://open.spotify.com/track/6J2LdBN97cDWn0M...  2020-10-01
200998  https://open.spotify.com/track/4Of7rzpRpV1mWRb...  2020-10-01
200999  https://open.spotify.com/track/4pvb0WLRcMtbPGm...  2020-10-01

[201000 rows x 6 columns]>

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201000 entries, 0 to 200999
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Position  201000 non-null  int64
 1   Track     201000 non-null  object
 2   Artist    201000 non-null  object
 3   Streams   201000 non-null  int64
 4   URL       201000 non-null  object
 5   Date      201000 non-null  object
dtypes: int64(2), object(4)
memory usage: 9.2+ MB

In [13]:
#Conteo de los subniveles por columnas
cols_cat = ['Position','Track','Artist','Streams','URL','Date']

for col in cols_cat: 
    print(f'Columna {col}: {data[col].nunique()} subniveles')

Columna Position: 200 subniveles
Columna Track: 3788 subniveles
Columna Artist: 847 subniveles
Columna Streams: 184531 subniveles
Columna URL: 4570 subniveles
Columna Date: 1005 subniveles

In [15]:
#Eliminamos las filas repetidas
print(f'Tamaño antes de eliminar las filas repetidas: {data.shape}')
data.drop_duplicates(inplace=True)
print(f'Tamaño despues de eliminar las filas repetidas: {data.shape}')

Tamaño antes de eliminar las filas repetidas: (201000, 6)
Tamaño despues de eliminar las filas repetidas: (201000, 6)

In [40]:
data[data['Streams'] >= 3500000]

,Position,Track,Artist,Streams,URL,Date
0,1,rockstar,Post Malone,3962314,https://open.spotify.com/track/7wGoVu4Dady5GV0...,2018-01-01
200,1,rockstar,Post Malone,4072359,https://open.spotify.com/track/7wGoVu4Dady5GV0...,2018-01-02
201,2,Havana,Camila Cabello,3512248,https://open.spotify.com/track/0ofbQMrRDsUaVKq...,2018-01-02
400,1,rockstar,Post Malone,4194625,https://open.spotify.com/track/7wGoVu4Dady5GV0...,2018-01-03
401,2,Havana,Camila Cabello,3563206,https://open.spotify.com/track/0ofbQMrRDsUaVKq...,2018-01-03
...,...,...,...,...,...,...
200800,1,Mood (feat. Iann Dior),24kGoldn,5681338,https://open.spotify.com/track/3tjFYV6RSFtuktY...,2020-10-01
200801,2,WAP (feat. Megan Thee Stallion),Cardi B,4786211,https://open.spotify.com/track/4Oun2ylbjFKMPTi...,2020-10-01
200802,3,"Lemonade (feat. Gunna, Don Toliver & NAV)",Internet Money,4502404,https://open.spotify.com/track/7hxHWCCAIIxFLCz...,2020-10-01
200803,4,Hawái,Maluma,4066369,https://open.spotify.com/track/1yoMvmasuxZfqHE...,2020-10-01
200804,5,Dynamite,BTS,4016787,https://open.spotify.com/track/0t1kP63rueHleOh...,2020-10-01